[submodule "config/vim-config"]
	path = config/vim-config
	url = git@github.com:quynguyen/vim-config.git
[submodule "config/dircolors-config"]
	path = config/dircolors-config
	url = git@github.com:quynguyen/dircolors-config.git
[submodule "config/font-config"]
	path = config/font-config
	url = git@github.com:quynguyen/font-config.git
[submodule "config/npm-config"]
	path = config/npm-config
	url = git@github.com:quynguyen/npm-config.git
[submodule "config/shell-config"]
	path = config/shell-config
	url = git@github.com:quynguyen/shell-config.git
[submodule "config/terminal-config"]
	path = config/terminal-config
	url = git@github.com:quynguyen/terminal-config.git
[submodule "config/tmux-config"]
	path = config/tmux-config
	url = git@github.com:quynguyen/tmux-config.git
[submodule "config/tmuxinator-config"]
	path = config/tmuxinator-config
	url = git@github.com:quynguyen/tmuxinator-config.git
